* {
    box-sizing: border-box;
}

html {
    animation: backgroundy 7s;
    animation-iteration-count: infinite;
}

h1 {
    font-family: 'Raleway', sans-serif;
    letter-spacing: 1em;
    position: absolute;
    color: #fff;
    margin-left: 5%;
    animation: bounce 2s;
    animation-iteration-count: infinite;
}

@keyframes bounce {
    0%, 20%, 60%, 100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }

    40% {
        -webkit-transform: translateY(-20px);
        transform: translateY(-20px);
    }

    80% {
        -webkit-transform: translateY(-20px);
        transform: translateY(-10px);
    }
}

/*h3 {*/
/*    font-family: 'Raleway', sans-serif;*/
/*    letter-spacing: .25em;*/
/*    position: absolute;*/
/*    color: #fff;*/
/*    margin-left: 65%;*/
/*    margin-top: 28%;*/
/*    animation: slideytext 1s;*/
/*    animation-iteration-count: infinite;*/
/*}*/

@keyframes slideytext {
    0%, 20%, 60%, 100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }

    40% {
        -webkit-transform: translateX(-20px);
        transform: translateX(-20px);
    }

    80% {
        -webkit-transform: translateX(-20px);
        transform: translateX(-10px);
    }
}


@keyframes backgroundy {
    0%{
        background: #c8b2db;
    }
    25%{
        background: #0b1545;
    }
    50%{
        background: #c8b2db;
    }
    75%{
        background: #212e69;
    }
    100%{
        background: #c8b2db;
    }
}

#face {
    position: absolute;
    width: 400px;
    height: 400px;
    background: #BBFD51;
    border-radius: 50%;
    animation: facey 5s;
    animation-iteration-count: infinite;
    margin-left: 35%;
    margin-top: 2%;
    object-fit: cover;
}

@keyframes facey {
    0%{
        background: #FE5143;
    }
    20%{
        background: #F9BCD1;
    }
    40%{
        background: #CC8CF8;
    }
    60%{
        background: #9898F3;
    }
    80%{
        background: #BDE4F6;
    }
    100%{
        background: #BCFEE9;
    }
}

#leftEye{
    position: relative;
    width: 0px;
    height: 0px;
    border-right: 40px solid transparent;
    border-top: 40px solid #d4af37;
    border-left: 40px solid #d4af37;
    border-bottom: 40px solid #d4af37;
    border-top-left-radius: 60px;
    border-top-right-radius: 60px;
    border-bottom-left-radius: 60px;
    border-bottom-right-radius: 60px;
    margin-top: 25%;
    margin-left: 15%;
    animation: blinky 3s;
    animation-iteration-count: infinite;
}

@keyframes blinky {
    0%{
        transform: scaleY(1);
    }
    20%{
        transform: scaleY(-.5);
    }
    40%{
        transform: scaleY(-1);
    }
    60%{
        transform: scaleY(-.5);
    }
    80%{
        transform: scaleY(-.5);
    }
    100%{
        transform: scaleY(1);
    }
}

#rightEye{
    position: relative;
    width: 0px;
    height: 0px;
    border-right: 40px solid transparent;
    border-top: 40px solid #d4af37;
    border-left: 40px solid #d4af37;
    border-bottom: 40px solid #d4af37;
    border-top-left-radius: 60px;
    border-top-right-radius: 60px;
    border-bottom-left-radius: 60px;
    border-bottom-right-radius: 60px;
    margin-top: -20%;
    margin-left: 65%;
    animation: blinky 3s;
    animation-iteration-count: infinite;
}

#mouth{
    position: relative;
    height: 100px;
    width: 200px;
    background: #488924;
    margin: 0 1em 1em 0;
    border-bottom-left-radius: 200px;
    border-bottom-right-radius: 200px;
    margin-left: 23%;
    margin-top: 2%;
    animation: mouthy .75s;
    animation-iteration-count: infinite;
}

@keyframes mouthy {
    0%{
        background: #BBFD51;
    }
    20%{
        background: #B7FA92;
    }
    40%{
        background: #E0FD3F;
    }
    60%{
        background: #F5A845;
    }
    80%{
        background: #F8632B;
    }
    100%{
        background: #BBFD51;
    }
}

#blob1 {
    position: absolute;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    background: black;
    margin-left: 55%;
    margin-top: 30%;
    animation: blottyfirst 1s;
    animation-iteration-count: infinite;
}

@keyframes blottyfirst {
    0%{
        transform: translate3d(2em, 0em, 0em); background: #D6FCEB;
    }
    25%{
        transform: translate3d(0em, 3em, 0em); background: #9CDCB7;
    }
    50%{
        transform: translate3d(0em, 0em, 4em); background: #99FCD5;
    }
    75%{
        transform: translate3d(0em, 3em, 0em); background: #50FE8F;
    }
    100%{
        transform: translate3d(2em, 0em, 0em); background: #82FFC4;
    }
}

#blob2 {
    position: absolute;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    background: blue;
    margin-top: 30%;
    margin-left: 35%;
    animation: blobbysecond 1s;
    animation-iteration-count: infinite;
}

@keyframes blobbysecond {
    0%{
        transform: translate3d(0em, 3em, 0em); background: #FADC96;
    }
    25%{
        transform: translate3d(3em, 0em, 0em); background: #F9B353;
    }
    50%{
        transform: translate3d(0em, 0em, 4em); background: #EC9634;
    }
    75%{
        transform: translate3d(0em, 2em, 0em); background: #FD7F16;
    }
    100%{
        transform: translate3d(0em, 3em, 0em); background: #FC650E;
    }
}

#blob1Leye {
    position: relative;
    width: 0px;
    height: 0px;
    border-right: 10px solid transparent;
    border-top: 10px solid #d4af37;
    border-left: 10px solid #d4af37;
    border-bottom: 10px solid #d4af37;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    margin-top: 25%;
    margin-left: 20%;
    animation: blinky 3s;
    animation-iteration-count: infinite;
}

#blob1Reye {
    position: relative;
    width: 0px;
    height: 0px;
    border-right: 10px solid transparent;
    border-top: 10px solid #d4af37;
    border-left: 10px solid #d4af37;
    border-bottom: 10px solid #d4af37;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    margin-top: -20%;
    margin-left: 55%;
    animation: blinky 3s;
    animation-iteration-count: infinite;
}

#blob1M {
    position: relative;
    height: 25px;
    width: 50px;
    background: #488924;
    margin: 0 1em 1em 0;
    border-bottom-left-radius: 200px;
    border-bottom-right-radius: 200px;
    margin-left: 23%;
    margin-top: 2%;
    animation: blobbyone .75s;
    animation-iteration-count: infinite;
}

@keyframes blobbyone {
    0%{
        background: #EA6EFB;
    }
    20%{
        background: #8386F7;
    }
    40%{
        background: #65FEFC;
    }
    60%{
        background: #C8FEFD;
    }
    80%{
        background: #A1FCEA;
    }
    100%{
        background: #FCAEEF;
    }
}

#blob2Leye {
    position: relative;
    width: 0px;
    height: 0px;
    border-right: 10px solid transparent;
    border-top: 10px solid #d4af37;
    border-left: 10px solid #d4af37;
    border-bottom: 10px solid #d4af37;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    margin-top: 25%;
    margin-left: 20%;
    animation: blinky 3s;
    animation-iteration-count: infinite;
}

#blob2Reye {
    position: relative;
    width: 0px;
    height: 0px;
    border-right: 10px solid transparent;
    border-top: 10px solid #d4af37;
    border-left: 10px solid #d4af37;
    border-bottom: 10px solid #d4af37;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    margin-top: -20%;
    margin-left: 55%;
    animation: blinky 3s;
    animation-iteration-count: infinite;
}

#blob2M {
    position: relative;
    height: 25px;
    width: 50px;
    background: #488924;
    margin: 0 1em 1em 0;
    border-bottom-left-radius: 200px;
    border-bottom-right-radius: 200px;
    margin-left: 23%;
    margin-top: 2%;
    animation: blobbytwo .75s;
    animation-iteration-count: infinite;
}

@keyframes blobbytwo {
    0%{
        background: #CBFD7E;
    }
    20%{
        background: #737FC4;
    }
    40%{
        background: #BE734B;
    }
    60%{
        background: #B69DA6;
    }
    80%{
        background: #530343;
    }
    100%{
        background: #9F03C5;
    }
}

#blob3 {
    position: absolute;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    background: blue;
    margin-top: 25%;
    margin-left: 15%;
    animation: blobbythird 2s;
    animation-iteration-count: infinite;
}

#blob3Leye {
    position: relative;
    width: 0px;
    height: 0px;
    border-right: 10px solid transparent;
    border-top: 10px solid #d4af37;
    border-left: 10px solid #d4af37;
    border-bottom: 10px solid #d4af37;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    margin-top: 25%;
    margin-left: 20%;
    animation: blinky 3s;
    animation-iteration-count: infinite;
}

#blob3Reye {
    position: relative;
    width: 0px;
    height: 0px;
    border-right: 10px solid transparent;
    border-top: 10px solid #d4af37;
    border-left: 10px solid #d4af37;
    border-bottom: 10px solid #d4af37;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    margin-top: -20%;
    margin-left: 55%;
    animation: blinky 3s;
    animation-iteration-count: infinite;
}

#blob3M {
    position: relative;
    height: 10px;
    width: 10px;
    margin: 0 1em 1em 0;
    border-radius: 50%;
    margin-left: 35%;
    margin-top: 7%;
    animation: blobbymouththree .75s;
    animation-iteration-count: infinite;
}


#blob4 {
    position: absolute;
    height: 100px;
    width: 100px;
    border-radius: 25%;
    margin-top: 15%;
    margin-left: 85%;
    animation: blobbyfourth 5s;
    animation-iteration-count: infinite;
}


#blob5 {
    position: absolute;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    background: blue;
    z-index: 2;
    margin-left: 55%;
    animation: blobbyfifth 2s;
    animation-iteration-count: infinite;
}

@keyframes blobbyfourth {
    0%{
        transform: translate3d(0em, 0em, 0em); background: #578bfa;
    }
    25%{
        transform: translate3d(0em, 20em, 0em); background: #3a326e;
    }
    50%{
        transform: translate3d(0em, -5em, 0em); background: #406478;
    }
    75%{
        transform: translate3d(0em, 20em, 0em); background: #496e50;
    }
    100%{
        transform: translate3d(0em, 0em, 0em); background: #2f48ad;
    }
}

@keyframes blobbyfifth {
    0%{
        transform: translate3d(20em, 0em, 0em); background: #2d0430;
    }
    20%{
        transform: translate3d(0em, 2em, 0em); background: #fcc2f4;
    }
    40%{
        transform: translate3d(0em, 0em, 5em); background: #2d0430;
    }
    60%{
        transform: translate3d(0em, 0em, 5em); background: #fcc2f4;
    }
    80%{
        transform: translate3d(0em, 2em, 0em); background: #2d0430;
    }
    100%{
        transform: translate3d(20em, 0em, 0em); background: #fcc2f4;
    }
}

#blob4Leye {
    position: relative;
    width: 0px;
    height: 0px;
    border-right: 10px solid transparent;
    border-top: 10px solid #d4af37;
    border-left: 10px solid #d4af37;
    border-bottom: 10px solid #d4af37;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    margin-top: 25%;
    margin-left: 20%;
    animation: blinky 3s;
    animation-iteration-count: infinite;
}

#blob4Reye{
    position: relative;
    width: 0px;
    height: 0px;
    border-right: 10px solid transparent;
    border-top: 10px solid #d4af37;
    border-left: 10px solid #d4af37;
    border-bottom: 10px solid #d4af37;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    margin-top: -20%;
    margin-left: 55%;
    animation: blinky 3s;
    animation-iteration-count: infinite;
}

#blob4M {
    position: relative;
    height: 10px;
    width: 10px;
    background: #488924;
    margin: 0 1em 1em 0;
    border-top-left-radius: 35%;
    border-top-right-radius: 35%;
    border-bottom-left-radius: 35%;
    border-bottom-right-radius: 35%;
    margin-left: 35%;
    margin-top: 7%;
    animation: blobbymouthfour .75s;
    animation-iteration-count: infinite;
}

#blob5Leye {
    position: relative;
    width: 0px;
    height: 0px;
    border-right: 10px solid transparent;
    border-top: 10px solid #d4af37;
    border-left: 10px solid #d4af37;
    border-bottom: 10px solid #d4af37;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    margin-top: 25%;
    margin-left: 20%;
    animation: blinky 3s;
    animation-iteration-count: infinite;
}

#blob5Reye {
    position: relative;
    width: 0px;
    height: 0px;
    border-right: 10px solid transparent;
    border-top: 10px solid #d4af37;
    border-left: 10px solid #d4af37;
    border-bottom: 10px solid #d4af37;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    margin-top: -20%;
    margin-left: 55%;
    animation: blinky 3s;
    animation-iteration-count: infinite;
}

#blob5M {
    position: relative;
    height: 25px;
    width: 50px;
    background: #488924;
    margin: 0 1em 1em 0;
    border-bottom-left-radius: 200px;
    border-bottom-right-radius: 200px;
    margin-left: 23%;
    margin-top: 2%;
    animation: blobbytwo .75s;
    animation-iteration-count: infinite;
}

#blob6 {
    position: absolute;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    background: black;
    z-index: 2;
    margin-left: 60%;
    margin-top: 10%;
    animation: blobbysixth 1s;
    animation-iteration-count: infinite;
}

@keyframes blobbysixth {
    0%{
        transform: translate3d(11em, 8em, 2em); background: #9c1c17;
    }
    25%{
        transform: translate3d(0em, 5em, 1em); background: #bf2121;
    }
    50%{
        transform: translate3d(0em, 2em, 0.5em); background: #e60f00;
    }
    75%{
        transform: translate3d(0em, 5em, 1em); background: #db330d;
    }
    100%{
        transform: translate3d(11em, 8em, 2em); background: #9c1c17;
    }
}

#blob6M {
    position: relative;
    height: 15px;
    width: 30px;
    background: #488924;
    margin: 0 1em 1em 0;
    border-top-left-radius: 200px;
    border-top-right-radius: 200px;
    border-bottom-left-radius: 75px;
    border-bottom-right-radius: 75px;
    margin-left: 30%;
    margin-top: 15%;
    animation: blobsixthmouth 1s;
    animation-iteration-count: infinite;
}

@keyframes blobsixthmouth {
    0%{
        background: #750202;
    }
    25%{
        background: #421111;
    }
    50%{
        background: #2b1010;
    }
    75%{
        background: #421111;
    }
    100%{
        background: #750202;
    }
}

#blob6Leye {
    background: black;
    position: relative;
    width: 10px;
    height: 2px;
    border-top: 0px solid transparent;
    border-right: 9px solid black;
    transform: rotate(10deg);
    margin-left: 15%;
    margin-top: 35%;
}

#blob6Reye {
    background: black;
    position: relative;
    width: 10px;
    height: 2px;
    border-top: 0px solid transparent;
    border-right: 9px solid black;
    transform: rotate(-10deg);
    margin-left: 60%;
    margin-top: -1%;
}

#blob6Liris {
    position: absolute;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin-left: 25%;
    margin-top: 20%;
    animation: irisy 2s;
    animation-iteration-count: infinite;
}

#blob6Riris {
    position: absolute;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin-left: 25%;
    margin-top: 20%;
    animation: irisy 2s;
    animation-iteration-count: infinite;
}

@keyframes irisy {
    0%{
        background: #f5ec42; transform: scale(0);
    }
    25%{
        background: #fffffc; transform: scale(-.25);
    }
    50%{
        background: #f5ec42; transform: scale(-.75);
    }
    75%{
        background: #fffffc; transform: scale(-.25);
    }
    100%{
        background: #f5ec42; transform: scale(0);
    }
}

#blob7 {
    position: absolute;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    background: pink;
    margin-left: 20%;
    margin-top: 5%;
    animation: blobsevenmouth 2s;
    animation-iteration-count: infinite;
}

@keyframes blobsevenmouth {
    0%{
        background: #275e46; transform: translate3d(10em, 0em, 0em);
    }
    25%{
        background: #10916f; transform: translate3d(-10em, 0em, 0em);
    }
    50%{
        background: #07edf5; transform: translate3d(0em, 0em, 0em);
    }
    75%{
        background: #10916f; transform: translate3d(0em, 0em, 0em);
    }
    100%{
        background: #275e46; transform: translate3d(10em, 0em, 0em);
    }
}

#blob7Leye {
    background: #f3f7e1;
    position: relative;
    width: 10px;
    height: 2px;
    border-top: 0px solid transparent;
    border-right: 9px solid #f3f7e1;
    transform: rotate(-5deg);
    margin-left: 15%;
    margin-top: 35%;
    border-top-left-radius: 45%;
    border-top-right-radius: 45%;
}

#blob7Reye {
    background: #f3f7e1;
    position: relative;
    width: 10px;
    height: 2px;
    border-top: 0px solid transparent;
    border-right: 9px solid #f3f7e1;
    transform: rotate(-10deg);
    margin-left: 60%;
    margin-top: -10%;
}

#blob7Liris {
    position: absolute;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    margin-left: 85%;
    margin-top: 20%;
    background: white;
    animation: blobseveneyes 3s;
    animation-iteration-count: infinite;
}

#blob7Riris {
    position: absolute;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    margin-left: 55%;
    margin-top: 85%;
    background: white;
    animation: blobseveneyes 3s;
    animation-iteration-count: infinite;
}

#blob7M {
    background: #f3f7e1;
    position: relative;
    width: 10px;
    height: 2px;
    border-top: 0px solid transparent;
    border-right: 9px solid #f3f7e1;
    transform: rotate(10deg);
    margin-left: 15%;
    margin-top: 35%;
    border-top-left-radius: 45%;
    border-top-right-radius: 45%;
}

#weeone {
    position: absolute;
    height: 60px;
    width: 60px;
    border-radius: 50%;
    background: lime;
    margin-left: 20%;
    margin-top: 45%;
    animation: weeonebounce 2s;
    animation-iteration-count: infinite;
}

@keyframes weeonebounce {
    0% {
        -webkit-transform: translateY(0);
        transform: translateY(0); background: #8ebf9d;
    }
    20% {
        -webkit-transform: translateY(-400px);
        transform: translateY(-90px); background: #6ab872;
    }
    40%{
        -webkit-transform: translateY(-30px);
        transform: translateY(-30px); background: #93fab2;
    }
    60%{
        -webkit-transform: translateY(-50px);
        transform: translateY(-50px); background: #315e36;
    }
    80%{
        -webkit-transform: translateY(-400px);
        transform: translateY(-400px); background: #81de8c;
    }
    100%{
        -webkit-transform: translateY(0);
        transform: translateY(0); background: #90dea7;
    }
}

#weeoneReye {
    position: absolute;
    background: black;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin-left: 25%;
    margin-top: 7%;
    animation: weeoneBlinkRight 1s;
    animation-iteration-count: infinite;
}

@keyframes weeoneBlinkRight {
    0%{
        transform: translate3d(0, 0, 5px); background: #baf7df;
    }
    20%{
        transform: translate3d(0, 0, 0); background: #6ac4a1;
    }
    40%{
        transform: translate3d(0, 0, 1px); background: #33bd88;
    }
    60%{
        transform: translate3d(1px, 0, 0); background: #178a5e;
    }
    80%{
        transform: translate3d(0, 1px, 0); background: #52d1a0;
    }
    100%{
        transform: translate3d(0, 0, 1px); background: #c1f7e2;
    }
}

#weeoneLeye {
    position: absolute;
    background: red;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin-left: 57%;
    margin-top: 7%;
    animation: weeoneblink 1s;
    animation-iteration-count: infinite;
}

@keyframes weeoneblink {
    0%{
        transform: translate3d(5px, 0, 0); background: #baf7df;
    }
    20%{
        transform: translate3d(0, 0, 0); background: #6ac4a1;
    }
    40%{
        transform: translate3d(1px, 0, 0); background: #33bd88;
    }
    60%{
        transform: translate3d(0, 0, 1px); background: #178a5e;
    }
    80%{
        transform: translate3d(0, 1px, 0); background: #52d1a0;
    }
    100%{
        transform: translate3d(1px, 0, 0); background: #c1f7e2;
    }
}

#leftMouthOne {
    position: absolute;
    height: 20px;
    width: 20px;
    border-top-left-radius: 10%;
    border-top-right-radius: 40%;
    border-bottom-left-radius: 40%;
    border-bottom-right-radius: 10%;
    background: black;
    margin-left: 20%;
    margin-top: 25%;
}

#rightMouthOne {
    position: absolute;
    height: 20px;
    width: 20px;
    border-top-left-radius: 40%;
    border-top-right-radius: 10%;
    border-bottom-left-radius: 10%;
    border-bottom-right-radius: 40%;
    background: black;
    margin-left: 45%;
    margin-top: 25%;
}

#weeoneTongue {
    position: absolute;
    height: 25px;
    width: 30px;
    background: #f56488;
    border-top-left-radius: 6%;
    border-top-right-radius: 6%;
    border-bottom-left-radius: 95%;
    border-bottom-right-radius: 95%;
    margin-top: 50%;
    margin-left: 24%;
    animation: weeonetonguey 2s;
    animation-iteration-count: infinite;
}

@keyframes weeonetonguey {
    0%{
        height: 15px; background: #fcf342;
    }
    20%{
        height: 17px; background: #e664f5;
    }
    40%{
        height: 20px; background: #fa5d57;
    }
    60%{
        height: 18px; background: #de8b33;
    }
    80%{
        height: 17px; background: #8e4df0;
    }
    100%{
        height: 15px; background: #f59833;
    }
}

#tonguestrip {
    background: maroon;
    position: absolute;
    width: 5px;
    height: 10px;
    margin-left: 40%;
    border-bottom-left-radius: 75%;
    border-bottom-right-radius: 75%;

}
@keyframes blobseveneyes {
    0%{
        background: #edf5ab; transform: scaleY(0);
    }
    25%{
        background: #faf373; transform: scaleY(-.5);
    }
    50%{
        background: #f7eb05; transform: scaleY(-1);
    }
    75%{
        background: #faf373; transform: scaleY(-.5);
    }
    100%{
        background: #edf5ab; transform: scaleY(0);
    }
}

@keyframes blobbymouthfour {
    0%{
        background: #cbd4f7; transform: translate3d(.1em, 0em, 0em);
    }
    20%{
        background: #40424a; transform: translate3d(0em, 0em, 1em);
    }
    40%{
        background: #97b0a1; transform: translate3d(1em, 0em, 0em);
    }
    60%{
        background: #d3e8c5; transform: translate3d(0em, .5em, .75em);
    }
    80%{
        background: #c9f005; transform: translate3d(1em, 0em, 0em);
    }
    100%{
        background: #e8f007; transform: translate3d(.1em, 0em, 0em);
    }
}

@keyframes blobbymouththree {
    0%{
        background: #898F8C; transform: translate3d(.25em, 0em, 0em);
    }
    20%{
        background: #DFF9EC; transform: translate3d(0em, 0em, .5em);
    }
    40%{
        background: #6B91A7; transform: translate3d(.25em, 0em, 0em);
    }
    60%{
        background: #F0DDF4; transform: translate3d(0em, 0em, .75em);
    }
    80%{
        background: #DA5B74; transform: translate3d(0em, .5em, 0em);
    }
    100%{
        background: #9D4148; transform: translate3d(.25em, 0em, 0em);
    }
}

@keyframes blobbythird {
    0% {
        background: #B66B5C;
    }
    20% {
        background: #9B6307;
    }
    40% {
        background: #BEA335;
    }
    60% {
        background: #FA6341;
    }
    80% {
        background: #741B07;
    }
    100% {
        background: #E7EB6C;
    }

    from {
        transform: rotate(0deg) translate(-150px) rotate(0deg);
    }
    to {
        transform: rotate(360deg) translate(-150px) rotate(-360deg);
    }
}