*::before,
*::after {
    box-sizing: border-box;
}

/*global custom properties:*/
:root {
    --fw-light: 300;
    --fw-normal: 400;
    --fw-semi: 500;
    --fw-bold: 700;
    --fs-h1: 1.5rem;
    --fs-h2: 2.25rem;
    --fs-body: 1rem;
    --fs-xl: 4.5rem;
    --clr-light: #fff;
    --clr-gray: #989898;
    --clr-dark: #444;
    --clr-accent: #D06D6D;
    --clr-accent-dark: #613131;
}

.screen-reader:not(:focus):not(:active) {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}

body {
    margin: 0;
    font-family: "Roboto Light";
    line-height: 1.6;
    background-image: url("../img/mars.png");
    background-size: cover;
    height: 100vh;
    overflow: hidden;
    color: var(--clr-light);
}

h1, h2, h3 {line-height: 1; }

a {
    color: var(--clr-accent);
}

a:hover{
    color: var(--clr-gray);
}

.main-title {
    font-size: var(--fs-h1);
    font-weight: var(--fw-light);
    font-family: 'Orbitron', sans-serif;
    text-transform: uppercase;
    color: var(--clr-accent);
    letter-spacing: 2px;
    grid-column: 1 / -1;
    text-align: center;
}

.section-title {
    font-size: var(--fs-h2);
    font-weight: var(--fw-bold);
    font-family: 'Roboto Thin', serif;
    margin: 0;
}

.section-title--date {
    font-size: var(--fs-xl);
}

.reading {
    font-size: var(--fs-h1);
    margin: 0;
    color: var(--clr-gray);
}

.current-weather {
    background: rgba(0,0,0,.7);
    padding: 2em;
    max-width: 1000px;
    margin: 5em 0 0 5em;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 2em;
}

.date {
    grid-column: 1 / 2;
}
.date-day {
    font-size: var(--fs-h2);
    margin: 0;
    color: var(--clr-gray);
    font-weight: var(--fw-light);
}

/*below contains first local custom property*/
.temperature {
    --border: solid .35em var(--clr-accent-dark);
    /*border: solid .5em var(--clr-accent-dark);*/
    grid-column: 2 / 3;
    border-left: var(--border);
    border-right: var(--border);
    padding: 0 2em 0 4em;
    /*may need to revisit padding here*/
}

.wind {
    grid-column: 3 / 4;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-self: start;
    grid-template-rows: min-content 1fr;
    margin-left: -17em;
}
.section-title {
    grid-column: 2 / 3;
}
.reading {
    grid-column: 2 / 3;
}
.wind-direction {
    grid-column: 3 / 4;
    border-radius: 50%;
    height: 7em;
    width: 7em;
    /*background-color: rgba(255, 255, 255, .5);*/
    display: grid;
    place-items: center;
    /*short hand for align-items and justify-content*/
    grid-row: 1 / span 2;
    margin-left: -11em;
    animation: background-color-change 15s ease-in-out infinite;
}
@keyframes background-color-change {
    0% {
        background: #ec6548;
    }
    25% {
        background: #af4811;
    }
    50% {
        background: #d36f3a;
    }
    75% {
        background: #ce5426;
    }
    100% {
        background: #ec6548;
    }
}
.wind-arrow {
    --direction: 0deg;
    /*direction: ltr;*/
    height: calc(1rem * 3.5);
    border: 1px solid #ec6548;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
    filter: blur(3px);
    width: 1rem;
    background: var(--clr-accent-dark);
    clip-path: polygon(50% 0, 0% 100%, 100% 100%);
    transform: translateY(-50%) rotate(var(--direction));
    transform-origin: bottom center;
    transition: transform 500ms ease;
}


.info {
    grid-column: 1 / 3;
}


.unit {
    grid-column: 3 / 4;
    place-self: end;
    color: var(--clr-light);
    display: flex;
    gap: .5em;
    opacity: .7;
    transition: opacity 275ms linear;
}
.unit label {
    cursor: pointer;
}
.unit input {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}
.unit:hover{
    opacity: 1;
}
.unit-toggle {
    cursor: pointer;
    width: 4em;
    border: 2px solid var(--clr-light);
    background: transparent;
    padding: 0;
    border-radius: 100vmax;
    margin: 0 1em;
    /*implements nicely-rounded pill shape border radius*/
}
.unit-toggle::after {
    content: '';
    display: block;
    background: var(--clr-light);
    border-radius: 50%;
    height: 1rem;
    width: 1rem;
    margin: 3px;
    margin-left: auto;
    /*if one of the margin sides in pill is auto, it will have default of pushing circle to max*/
}


:checked ~ .unit-toggle::after {
    margin-left: 3px;
    /*margin-right: auto;*/
}

.previous-weather {
    background: var(--clr-light);
    color: var(--clr-dark);
    position: absolute;
    margin: 0;
    width: 100%;
    transform: translateY(60%);
    transition: transform 350ms ease;
}

.show-previous-weather {
    position: absolute;
    background: var(--clr-light);
    left: 50%;
    width: 10rem;
    transform: translate(-50%, -100%);
    text-align: center;
    font-size: var(--fs-h1);
    line-height: 1;
    clip-path: polygon(50% 0, 0 100%, 100% 100%);
    cursor: pointer;
    color: var(--clr-gray);
    border: 2px solid white;
}
.show-previous-weather:hover,
.show-previous-weather:focus {
    color: var(--clr-dark);
}
.show-previous-weather span {
    display: block;
    margin-top: 10px;
    transition: transform 300ms ease;
}

.previous-days {
    display: flex;
    justify-content: space-between;
    padding: 2em;
}

.day-before {
    margin-top: -1em;
    font-family: 'Rokkitt', serif;
}
.day-before > * {
    margin: 0;
    bottom: 5em;
}
.day-before-info {
    border: 0;
    /*height: 3em;*/
    /*width: 5em;*/
    border-radius: 100vmax;
    background: var(--clr-dark);
    color: var(--clr-light);
    text-transform: uppercase;
    padding: .5em;
    cursor: pointer;
}
.day-before-info:hover,
.day-before-info:hover {
    background: var(--clr-gray);
}

.show-weather.previous-weather {
    transform: translateY(0);
}

.show-weather.previous-weather span{
    /*display: block;*/
    /*transform: translateY(1px) rotate(180deg);*/
}

.show-weather span {
    /*display: block;*/
    /*transform: rotate(180deg);*/
}



#spaceinvader {
    box-shadow: 0 0 0 1em #D06D6D,
    0 1em 0 1em #ec6548,
    -2.5em 1.5em 0 .5em #D06D6D,
    2.5em 1.5em 0 .5em #D06D6D,
    -3em -3em 0 0 #f99569,
    3em -3em 0 0 #f99569,
    -2em -2em 0 0 #ec6548,
    2em -2em 0 0 #ec6548,
    -3em -1em 0 0 #D06D6D,
    -2em -1em 0 0 #ec6548,
    2em -1em 0 0 #ec6548,
    3em -1em 0 0 #ec6548,
    -4em 0 0 0 #ec6548,
    -3em 0 0 0 #ec6548,
    3em 0 0 0 #ec6548,
    4em 0 0 0 #ec6548,
    -5em 1em 0 0 #D06D6D,
    -4em 1em 0 0 #ec6548,
    4em 1em 0 0 #ec6548,
    5em 1em 0 0 #D06D6D,
    -5em 2em 0 0 #ec6548,
    5em 2em 0 0 #ec6548,
    -5em 3em 0 0 #f99569,
    -3em 3em 0 0 #ec6548,
    3em 3em 0 0 #ec6548,
    5em 3em 0 0 #f99569,
    -2em 4em 0 0 #D06D6D,
    -1em 4em 0 0 #f99569,
    1em 4em 0 0 #f99569,
    2em 4em 0 0 #D06D6D;
    background: transparent;
    width: 1em;
    height: 1em;
    overflow: hidden;
    margin-left: 90%;
    animation: slideinvader 15s;
    animation-iteration-count: infinite;
}

@keyframes slideinvader {
    0%{
        transform: translate3d(0em, 0em, 0em);
    }
    20%{
        transform: translate3d(0em, -500px, 0em);
    }
    40%{
        transform: translate3d(0em, -600px, 0em);
    }
    60%{
        transform: translate3d(0em, 500px, 0em) rotate(360deg);
    }
    80%{
        transform: translate3d(0em, 200px, 0em);
    }
    100%{
        transform: translate3d(0em, 0em, 0em);
    }
}
