* {
    font-family: 'Baloo Paaji 2', cursive;
    color: #1a2f5e;
    /* outline: 1px solid #f00 !important; */
}

@media (max-width: 767px) {
    #picture-card {
        margin: auto;
    }
}
/*media queries for mobile response*/
@media (max-width: 480px) {
    #picture-card{
        top: -100px;
    }
   
    .second-icon {
        margin-top: -46%;
        margin-left: 33.7%;
    }
    .third-icon {
        margin-left: 65%;
        margin-top: -80%;
    }
    .icon-span-1 {
     color: transparent;
    }
    .icon-span-2 {
      color: transparent;
    }
    .icon-span-3 {
        color: transparent;
    }
    .icon-span-3:hover {
        text-decoration: none;
    }
    a, a:hover {
        text-decoration: none;
    }
    .media-body {
        margin-left: -75%;
        /*margin-top: -5%;*/
    }
    .header-button {
        position: relative;
        margin-left: -58px;
        margin-top: -90px;
    }
    .footer {
        text-align: center;
    }
    .footer-title, .footer-subtext {
        text-align: center;
    }
}

/*primary container*/
.container-fluid {
    position: relative;
}

/*container in head section*/
.jumbotron {
    height: 100vh;
    background: transparent;
    /* overflow-x: hidden; */
}

/*background for head section where pic and gsap titles are held*/
.jumbotron-background {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    opacity: .2;
}

/*class holding column divs*/
.animation {
    width: 100%;
    height: 100%;
}

.col {
    /* overflow-x: hidden; */
    padding: 20px 30px;
    /* margin: 0 5px; */
}
#projectCards {
    overflow-x: hidden;
}

/*columns in background - consist of keyframe animations for opacity and height-shifting*/
.column1 {
    min-height: 100vh;
    width: 172px;
    background: #bdc0f6;
    position: absolute;
    animation: column-fading 3s ease-in-out infinite;
}
@keyframes column-fading {
    0% {
        height: 0vh;
        opacity: 0;
    }
    25%{
        opacity: .25;
    }
    50%{
        opacity: 1;
    }
    75%{
        opacity: .25;
    }
    100%{
        height: 100vh;
        opacity: 0;
    }
}

.column2 {
    min-height: 100vh;
    width: 172px;
    background: #7fcef6;
    position: absolute;
    margin-left: 11%;
    animation: column-fading 3s ease-in-out infinite;
    animation-delay: 1s;
}

.column3 {
    min-height: 100vh;
    width: 172px;
    background: #b28fe5;
    position: absolute;
    margin-left: 22%;
    animation: column-fading 3s ease-in-out infinite;
    animation-delay: 1.5s;
}

.column4 {
    min-height: 100vh;
    width: 172px;
    background: #c6bef6;
    position: absolute;
    margin-left: 33%;
    animation: column-fading 3s ease-in-out infinite;
    animation-delay: 2s;
}

.column5 {
    min-height: 100vh;
    width: 172px;
    background: #9ac8f6;
    position: absolute;
    margin-left: 44%;
    animation: column-fading 3s ease-in-out infinite;
    animation-delay: 2.5s;
}

.column6 {
    min-height: 100vh;
    width: 172px;
    background: #577df6;
    position: absolute;
    margin-left: 55%;
    animation: column-fading 3s ease-in-out infinite;
    animation-delay: 3s;
}

.column7 {
    min-height: 100vh;
    width: 172px;
    background: #7176e5;
    position: absolute;
    margin-left: 66%;
    animation: column-fading 3s ease-in-out infinite;
    animation-delay: 3.5s;
}

.column8 {
    min-height: 100vh;
    width: 172px;
    background: #7139e5;
    position: absolute;
    margin-left: 77%;
    animation: column-fading 3s ease-in-out infinite;
    animation-delay: 4s;
}

.column9 {
    min-height: 100vh;
    width: 172px;
    background: #a784e5;
    position: absolute;
    margin-left: 88%;
    animation: column-fading 3s ease-in-out infinite;
    animation-delay: 4.5s;
}

/*welcome text transitioning in head when page opened*/
.welcome-text {
    position: absolute;
    left: 35%;
    max-width: 40vw;
    margin-top: 5%;
    background: transparent;
    font-size: 1.5em;
    border-style: none;
}

.card-title {
    text-align: center;
}

/*for font in cards*/
.card-text {
    font-family: 'Numans', sans-serif;
    text-align: center;
}

/*in divs with class media-body*/
.mt-0 {
    color: #1a2f5e;
}
.mt-0:hover {
    color: #51477b;
}
.mr-3:hover {
    cursor: pointer;
}

/*card containing picture of self; has attributed to it keyframe animation for fade-in opacity*/
.rounded-circle {
    margin: 10px auto;
    /*height: 90%;*/
    /*width: 90%;*/
    border: 5px solid #fff;
}
#picture-card {
    background: transparent;
    border-style: none;
    animation: fade-in 3s 1;
    /*background-size: auto;*/
    box-shadow: 0 11px 15px rgba(0,0,0,0.30), 0 12px 12px rgba(0,0,0,0.22);
}
@keyframes fade-in {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

/*button in head section titled Projects*/
.header-button {
    position: absolute;
    width: 150px;
    height: 50px;
    border-radius: 100vmax;
    border: 3px solid #1a2f5e;
    background-color: #dcdef5;
    left: 44.5%;
    /* top: 16%; */
    text-align: center;
    display: block;
    box-shadow: 0 11px 15px rgba(0,0,0,0.30), 0 12px 12px rgba(0,0,0,0.22);
}
/*for actual word Projects*/
span.header-button-span {
    position: absolute;
    margin-left: -18.5%;
    margin-top: -8%;
    text-align: center;
    color: #1a2f5e;
}

/*shadow-change on hover*/
.shadow-enter:hover {
    animation: shadow-change 1s ease-in-out;
}
@keyframes shadow-change {
    0% {
        box-shadow: 0 11px 15px rgba(0, 0, 0, 0.30), 0 12px 12px rgba(0, 0, 0, 0.22);
    }
    50%{
        box-shadow: none;
    }
    100% {
        box-shadow: 0 11px 15px rgba(0, 0, 0, 0.30), 0 12px 12px rgba(0, 0, 0, 0.22);
    }
}


/*this class is in div holding card-body class divs in body of site*/
.mb-3 {
    background-size: auto;
    background: linear-gradient(to left, #c6bef6, #fff);
    box-shadow: 0 11px 15px rgba(0,0,0,0.30), 0 12px 12px rgba(0,0,0,0.22);
    border-top: 1px solid #fff;
    /* overflow-x: hidden; */
}

/*affiliated to mp4s within cards in body section*/
.video {
    cursor: pointer;
}

/*footer section*/
.footer {
    color: #fff;
    background-color: #1a2f5e;
    height: 55%;
}
.footer-subtext {
    color: #e5c84f;
    text-decoration: none;
}
.footer-link a, .footer-link a:hover {
    text-decoration: none;
}
.footer-link {
    list-style-type: none;
}
.footer-list {
    color: #fff;
    /*filter: brightness(85%);*/
}
.footer-list:hover {
    color: #e5c84f;
}
.about {
    color: #fff;
}
.footer-title {
    color: #fff;
}