

html {
    background-color: #EE6327;
}
#container {
    display: grid;
  	place-content: center;
    align-items: center;
    min-height: 100vh;
}
h1, #imgTitle {
    display: flex;
    justify-content: center;
    font-family: "Archivo Black", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 3rem;
    letter-spacing: 2.5px;
    color: #fff;
}

#zipFile {
    cursor: pointer;
    padding: 15px;
    margin-top: 15px;
}
#inputBox {
    cursor: pointer;
}
#inputContainer {
    cursor: pointer;
}
#inputBox::-webkit-file-upload-button {
    cursor: pointer;
}
#inputBox::file-selector-button {
    cursor: pointer;
}